[Unit]
Description=JCollectd java monitoring daemon
After=network-online.target

[Service]
User=root
Group=root
WorkingDirectory=/opt/jcollectd
ExecStart=/opt/jdk21/bin/java -Xms32m -Xmx32m -jar jcollectd.jar config.yaml
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
