<div class="navbar">
  <div class="navbar-left neon">
    <i class="fas fa-chart-area icon"></i>
    <span>{{ runtime?.hostname }}</span>
  </div>

  <div class="navbar-right neon">
    <i class="fas fa-clock icon"></i>
    <span>{{ runtime?.collectTms | date: "dd/MM/yyyy HH:mm:ss" }}</span>
  </div>
</div>

<div class="content">
  <div class="charts-container">
    @for (probe of probes; track $index) {
      <div [id]="'chart' + $index" class="chart-container" [ngClass]="{ 'full-size': probe.size === 'FULL', 'half-size': probe.size === 'HALF' }"></div>
    }
  </div>

  <div class="footer">
    <div class="timings">
      Time spent collecting samples: {{ runtime?.collectElapsed ? runtime?.collectElapsed : "-" }}, persisting samples:
      {{ runtime?.persistElapsed ? runtime?.persistElapsed : "-" }}, generating report: {{ runtime?.reportElapsed ? runtime?.reportElapsed : "-" }}
    </div>
  </div>

  <div class="footer" *ngIf="errorMessage">
    <div class="error">
      <i class="fas fa-exclamation-triangle"></i>
      {{ errorMessage }}
    </div>
  </div>
</div>
