<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <Properties>
        <Property name="datetime_pattern" value="dd/MM/yyyy HH:mm:ss.SSS"/>
        <Property name="simple_pattern" value="[%d{${sys:datetime_pattern}} %5level] %msg%n"/>
    </Properties>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${sys:simple_pattern}"/>
        </Console>
    </appenders>
    <loggers>
        <root level="ALL">
            <appender-ref ref="Console" level="INFO"/>
        </root>
    </loggers>
</configuration>